@keyframes fade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    left: -100%;
  }
  100% {
    top: 50%;
    left: 70%;
  }
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slideUp {
  0%,
  50% {
    transform: translateY(100%);
    opacity: 0;
  }

  60%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
